* {
	box-sizing: border-box;
}
html::-webkit-scrollbar {
	@extend %scrollbar;
}

html::-webkit-scrollbar-thumb {
	@extend %thumb;
}
body {
	padding: 0;
	margin: 0;
	position: relative;
	background: linear-gradient(100deg, rgba(138, 133, 140, .4), rgb(138, 133, 140), rgba(138, 133, 140, .4), rgb(138, 133, 140), rgba(138, 133, 140, .4));
}

body {
  ul, ol { list-style: none; }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.scroll::-webkit-scrollbar {
	@extend %scrollbar;
}

.scroll:hover::-webkit-scrollbar-thumb {
	@extend %thumb;
}
